:root {
    --content-width: 79%;
    --block-height: 100vh;
    --main-font: "Ubuntu";
}

body {
    padding: 0;
    margin: 0;
}

.header {
    height: 100vh;
}

.navigation {
    height: 10vh;
    width: var(--content-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.navigation__menu {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.navigation__menu-item {
    padding: 0 41px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.navigation__menu-link {
    text-decoration: none;
    color: #131313;
}

.navigation__menu-link:hover {
    color: #C19551;
}

.navigation__cart-amount {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    top: -5px;
    left: -5px;
    background: #C19551;
    color: white;
    border-radius: 100%;
    font-family: var(--main-font);
}

.navigation__cart {
    position: relative;
}

.header__content {
    width: 100%;
    height: 90vh;
    background-image: url("./img/bgsuffix.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: ce;
    color: white;
}

.header__content-wrapper {
    width: var(--content-width);
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: var(--content-width);
    margin: auto;
}

.header__content-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__content-header {
    width: 404px;
    line-height: 66px;
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 46px;
}

.header__content-subheader {
    font: 24px var(--main-font);
    line-height: 36px;
    width: 488px;
    font-weight: lighter;
}

.header__button {
    width: 270px;
    height: 60px;
    background: linear-gradient(90.92deg, #9F6023 8%, #E4CC80 93.74%);
    border-radius: 5px;
    border: transparent;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 36px;
}

.header__image-container {
    display: flex;
    align-items: flex-end;
    width: 752px;
    height: 100%;
}

.header__image {
    width: 100%;
    height: 602px;
}

.features {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    width: var(--content-width);
    align-items: center;
}

.features__text-container{
    align-items: center;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__label{
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 36px;
    color: #a0a0a0;
    margin: 0%;
    text-transform: uppercase;
    
}

.features__header{
    font-family: var(--main-font);
    font-size: 38px;
    line-height: 66px;
    margin: 0%;
}

.features__feature-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.feature{
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.feature__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: linear-gradient(144.58deg, #9F6023 11.71%, #E8D185 83.71%);
}

.feature__label {
    padding-top: 20px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.feature__description {
    padding-top: 10px;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 18px;
    ;line-height: 26px;
    margin: 0;
}

.feature__label_with-socker-ball {
    width: 204px;
}

.feature__label_with-money-bag {
    width: 103px;
}